{% extends 'webjew/base.html' %}
{% load static %}

{% block content %}

<style>
  .about-section {
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  .about-section h2 {
    margin-bottom: 20px;
  }
  .about-section img {
      border-radius: 15px;
      max-width: 100%;
      height: auto;
  }
  .about {
    align-items: center;
  }
  .about-text {
      margin-top: 30px;
      /* max-width: 60%; */
  }
  .about-text hr {
    max-width: 40%;
    height: 0.5px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    /* opacity: 0.6; */
    /* margin-top: 20px; */
  }

  .team {
    justify-content: center;
    margin-bottom: 30px;
  }
  .team-member h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .team-member {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: 20px 0;
  }
  .team-member img {
      border-radius: 10px;
      /* height: 350px; */
      max-width: 250px;
      /* margin-bottom: 10px; */
      margin-top: 5px;
      /* max-width: 70%; */
      /* max-height: 70%; */
      /* margin-left: 20px; */
  }
  .team-member p {
    margin: 0;
    margin-top: 5px;
    max-width: 60%;
    text-align: center;
  }
</style>

<div class="container about-section">
  <h2>Наша команда</h2>
  <div class="row about">
    <div class="col-md-4 col-sm-12">
      <img src="{% static 'webjew/img/team' %}/{{team_about.photo}}" alt="Наша команда ({{team_about.photo}})">
    </div>
    <div class="col-md-8 col-sm-12 about-text">
      <p>{{team_about.description}}</p>
      <hr>
    </div>
  </div>
</div>

<div class="container team-section">
  <div class="row team">
    {% for t in team %}
    <!-- <div class="col-md-6 col-sm-12 team-member"> -->
    <div class="col-xg-3 col-lg-6 col-md-6 col-sm-12 team-member">
      <img src="{% static 'webjew/img/team' %}/{{t.photo}}" alt="{{t.photo}}">
      <h4>{{t.name}}</h4>
      {% for p in t.text %}
      <p>{{p}}</p>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  
</div>



{% endblock %}
