{% extends 'webjew/base.html' %}
{% load static %}

{% block content %}

<style>
  .process-section {
      padding: 50px 0;
      text-align: center;
  }
  .process-section h2 {
      margin-bottom: 30px;
  }
  .step {
      margin-bottom: 40px;
  }
  .step img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
  }
  .step p {
      margin-top: 10px;
  }
  .step-text {
    text-align: left;
  }
  .step-num {
    text-align: center;
  }

  .video-section {
      margin-top: 50px;
  }
  .video-placeholder {
      width: 100%;
      height: 400px;
      background-color: #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
  }
  .btn-catalog {
      margin-top: 20px;
  }
</style>




{% endblock %}
