{% extends 'webjew/base.html' %}
{% load static %}

{% block content %}

<style>
  .about-section {
      padding: 50px;
      text-align: center;
  }
  .about-section h2 {
    margin-bottom: 20px;
  }
  .about-section img {
      border-radius: 15px;
      max-width: 100%;
      height: auto;
  }
  .about-text {
      margin-top: 30px;
  }

  .team {
    justify-content: center;
  }
  .team-member {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px 0;
  }
  .team-member img {
      border-radius: 10px;
      /* height: 350px; */
      max-width: 250px;
      /* max-width: 70%; */
      /* max-height: 70%; */
      /* margin-left: 20px; */
  }
  .team-member p {
    margin: 0;
    margin-top: 10px;
  }
</style>

<div class="container about-section">
  <h2>Наша команда</h2>
  <div class="row about">
    <div class="col-md-4 col-sm-12">
      <img src="{% static 'webjew/img/team' %}/{{team_about.photo}}" alt="Наша команда ({{team_about.photo}})">
    </div>
    <div class="col-md-8 col-sm-12 about-text">
      <p>{{team_about.description}}</p>
    </div>
  </div>
</div>

<div class="container team-section">
  <div class="row team">
    {% for t in team %}
    <div class="col-md-6 col-sm-12 team-member">
      <h4>{{t.name}}</h4>
      <img src="{% static 'webjew/img/team' %}/{{t.photo}}" alt="{{t.photo}}">
      <p>{{t.text}}</p>
    </div>
    {% endfor %}
  </div>
  
</div>



{% endblock %}
