{% extends 'webjew/base.html' %}
{% load static %}

{% block content %}

<style>
  body {
      background-color: white;
      /* background-image: url(/static/webjew/img/rest/Фон.png); */
      /* background-position: 50% -25%; */
      /* margin: 0px; */
  }

  .navbar-nav li {
    margin-right: 20px;
  }
  .hero-section {
    text-align: center;
    padding: 50px 0;
    background-image: url(/static/webjew/img/rest/Фон.png);
    background-size: cover;
    color: black;
    height: 900px;
    background-position: 50%;
  }


  .hero-section h1 {
    margin-bottom: 20px;
  }
  .hero-section .btn {
    margin-top: 20px;
  }


  .intro-section {
    text-align: left;
    padding: 50px 20px;
  }
  .intro-section h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .intro-section h3 {
    font-size: 16px;
    font-weight: bolder;
  }
  .intro-section p {
    margin-bottom: 20px;
  }


  .steps-section {
    padding: 50px 20px;
  }
  .steps-section h3 {
    margin-bottom: 30px;
  }
  .steps-section p {
    margin-bottom: 20px;
  }

  .after-steps-section {
    text-align: center;
  }
  .after-steps-section a {
    color: gray;
    text-decoration: underline;
    transition: 0.7s;
  }
  .after-steps-section a:hover {
    color: black;
    transition: 0.3s;
  }


  .video-placeholder {
    width: 100%;
    height: 400px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .btn-consultation {
    margin-top: 20px;
  }
</style>

<style>
  .intro-section {
    margin-top: 0;
  }
  .hero-section {
    background-position: 50%;
    transition: 1s;
  }
  .hero-section:has(#more:hover), .hero-section:has(a:hover) {
    background-position: 50% -10px;
    transition: 1s;

    color: red;
  }
  #more {
    scroll-behavior: smooth;
  }
</style>


<div class="hero-section">
  <h1>Aurea Incus – унікальні ювелірні прикраси</h1>
  <p>Пропонуємо ознайомитись із нашим асортиментом та обрати те, що Вам найбільше до душі!</p>
  <a href="{% url 'catalog' %}" class="btn btn-dark" id="more">Переглянути асортимент</a>
</div>

<div class="container intro-section">
  <h2>Виготовлення індивідуальних ювелірних виробів із особистим дизайном клієнта</h2>
  
  <h3>Вітаємо!</h3>
  <p>У світі ювелірного мистецтва, кожна прикраса є не лише аксесуаром, а й вираженням унікальної особистості та стилю її власника. Наші індивідуальні ювелірні вироби створюються з глибоким розумінням того, що кожен клієнт має свої особливі побажання та мрії. Ми пропонуємо послуги з виготовлення ювелірних виробів за особистим дизайном, щоб ваші ідеї стали реальністю.</p>
  <h3>Персоналізований Підхід.</h3>
  <p>Кожен проект починається з уважного обговорення ваших побажань. Ми приділяємо час, щоб зрозуміти ваші естетичні вподобання, символіку, яку ви хочете втілити, та особливі моменти, які ви бажаєте увіковічнити у своїй прикрасі. Наші майстри уважно вислухають ваші ідеї та допоможуть втілити їх у життя, пропонуючи професійні поради щодо вибору матеріалів та технік.</p>
  <h3>Високоякісні Матеріали.</h3>
  <p>Ми використовуємо тільки найкращі матеріали для створення ваших індивідуальних ювелірних виробів. Вибір дорогоцінних металів, таких як золото, платина чи срібло, а також різноманітних дорогоцінних каменів, включаючи діаманти, сапфіри, смарагди та рубіни, забезпечує неперевершену якість і довговічність ваших прикрас.</p>
  <h3>Ручна Робота Майстрів.</h3>
  <p>Кожна прикраса виготовляється вручну нашими досвідченими ювелірами. Вони вкладають у свою роботу всю майстерність і любов до деталей, що гарантує унікальність та бездоганність кожного виробу. При виготовленні використовуються традиційні техніки разом із сучасними інноваціями, щоб створити витвір мистецтва, який буде тішити вас багато років.</p>
  <h3>Ваша Унікальна Прикраса.</h3>
  <p>Ми розуміємо, що ваша ювелірна прикраса має особливе значення. Незалежно від того, чи це обручка, браслет, сережки або кулон, кожна прикраса несе в собі вашу історію та емоції. Індивідуальний дизайн дозволяє вам створити щось дійсно унікальне, що буде нагадувати про важливі моменти вашого життя та відображати вашу особистість.</p>
  
  <div class="steps-section">
    <p>Етапи Створення:
      <ol>
        <li>Консультація та Концепція: На першому етапі ми зустрічаємося з вами для обговорення ідеї та створення початкової концепції дизайну.</li>
        <li>Ескіз та Візуалізація: Після затвердження концепції ми створюємо ескіз та 3D візуалізацію майбутнього виробу.</li>
        <li>Вибір Матеріалів: Разом ми вибираємо найкращі матеріали, виходячи з ваших побажань та бюджету.</li>
        <li>Виготовлення: Наші майстри приступають до виготовлення прикраси, приділяючи увагу кожній деталі.</li>
        <li>Остаточне Затвердження та Доставка: Після завершення роботи ми демонструємо вам готовий виріб для остаточного затвердження і, за вашої згоди, доставляємо його вам.</li>
      </ol>
    </p>
  </div>

  <div class="after-steps-section">
    <a href="{% url 'steps' %}"><p>Переглянути детальніше про всі етапи створення ювелірного виробу можна тут</p></a>
    <a href="{% url 'jew3d' %}"><p>Переглянути приклад 3D моделі виробу можна тут</p></a>
    <button class="btn btn-dark btn-consultation">Записатися на консультацію</button>  
  </div>
</div>


{% endblock %}