{% extends 'webjew/base.html' %}
{% load static %}

{% block content %}

<style>
  .model-section {
    padding: 30px 0;
    text-align: center;
  }
  /* .model-viewer {
      width: 600px;
      height: 600px;
      background-color: #ccc;
      margin: 0 auto;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  .model-viewer {
    /* width: 600px; */
    /* height: 600px; */
    margin-top: 20px;
    /* margin-bottom: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;

  }
  model-viewer{
    width:400px;
    height:400px;
    border: 1px black;
  }

  .btn-catalog {
    margin-top: 20px;
  }
</style>

<!-- <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script> -->

<div class="container model-section">
  <h2>3D модель виробу "Ніж"</h2>
  <div class="model-viewer">

    <!-- js for model-viewer -->
    <!-- <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script> -->
    <script type="module" src="{% static 'webjew\js\model-viewer.min.js' %}"></script>
    
    <model-viewer
      id="3d"
      src="{% static 'media/knife.glb' %}"
      auto-rotate 
      camera-controls
      ar ar-scale="auto"
      >
    </model-viewer>

  </div>
  <!-- <p>3D модель</p> -->
  <a href="{% url 'catalog' %}" class="btn btn-dark btn-catalog">Каталог</a>
</div>

<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

{% endblock %}
