{% extends 'webjew/base.html' %}
{% load static %}

{% block content %}

<style>
  .policy-section {
    text-align: left;
    padding: 50px 20px;
  }
  .policy-section h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  .policy-section h3 {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
  }
  .policy-section p {
    margin-bottom: 5px;
  }
  p.summary {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
  }


  .steps-section {
    padding: 30px 20px;
    padding-bottom: 0;
    /* margin-top: 20px; */
  }
  .steps-section h3 {
    margin-bottom: 30px;
  }
  .steps-section p {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
</style>

<div class="container policy-section">

  <h2>Політика конфіденційності</h2>

  <h3>1. Вступ</h3>
  <p>Ця Політика конфіденційності регулює порядок збору, використання та зберігання ваших особистих даних на веб-сайті Aurea Incus (далі – «Сайт»). Ми зобов'язуємось захищати вашу конфіденційність і забезпечувати, щоб ваші особисті дані були захищені.</p>

  <h3>2. Збір інформації</h3>
  <p>Ми можемо збирати та зберігати наступні типи особистих даних:</p>
  <ul>
      <li>Ім'я та прізвище</li>
      <li>Контактні дані (електронна пошта, номер телефону)</li>
      <li>Адреса для доставки</li>
      <li>Платіжні дані</li>
      <li>Інформація про ваші замовлення та покупки</li>
      <li>Інформація про використання Сайту (включаючи файли cookie та IP-адреси)</li>
  </ul>

  <h3>3. Використання інформації</h3>
  <p>Ми використовуємо ваші особисті дані для:</p>
  <ul>
      <li>Обробки та виконання ваших замовлень</li>
      <li>Зв'язку з вами щодо ваших замовлень та запитів</li>
      <li>Надання вам інформації про нові продукти, спеціальні пропозиції та інші новини, які можуть вас зацікавити</li>
      <li>Покращення роботи Сайту та наших послуг</li>
  </ul>

  <h3>4. Захист інформації</h3>
  <p>Ми застосовуємо відповідні технічні та організаційні заходи для захисту ваших особистих даних від несанкціонованого доступу, використання, зміни або знищення.</p>

  <h3>5. Розкриття інформації третім сторонам</h3>
  <p>Ми не продаємо, не обмінюємо та не передаємо ваші особисті дані третім сторонам без вашої згоди, за винятком випадків, коли це необхідно для:</p>
  <ul>
      <li>Виконання ваших замовлень (наприклад, передачі даних службі доставки)</li>
      <li>Виконання вимог законодавства</li>
      <li>Захисту наших прав, власності або безпеки</li>
  </ul>

  <h3>6. Файли cookie</h3>
  <p>Наш Сайт використовує файли cookie для збору інформації про ваше використання Сайту з метою покращення вашого користувацького досвіду. Ви можете відмовитися від використання файлів cookie, налаштувавши свій веб-браузер відповідним чином.</p>

  <h3>7. Ваші права</h3>
  <p>Ви маєте право:</p>
  <ul>
      <li>Отримати доступ до своїх особистих даних, які ми зберігаємо</li>
      <li>Вимагати виправлення або видалення ваших особистих даних</li>
      <li>Відкликати свою згоду на обробку ваших особистих даних</li>
      <li>Подати скаргу до відповідного органу захисту даних</li>
  </ul>

  <h3>8. Зміни до Політики конфіденційності</h3>
  <p>Ми можемо час від часу оновлювати цю Політику конфіденційності. Будь-які зміни будуть опубліковані на цій сторінці, і ви будете повідомлені про важливі зміни електронною поштою або іншим доступним засобом.</p>

  <h3>9. Контактна інформація</h3>
  <p>Якщо у вас є питання або занепокоєння щодо цієї Політики конфіденційності або обробки ваших особистих даних, будь ласка, зв'яжіться з нами за допомогою:</p>
  <ul>
      <li>Електронна пошта: <a href= "mailto: fanta1281@gmail.com">fanta1281@gmail.com</a></li>
      <li>Телефон: 
        <a href="tel:+(380)67-754-22-87">+(380)67-754-22-87</a>, 
        <a href="tel:+(380)97-768-47-53">+(380)97-768-47-53</a>, 
        <a href="tel:+(380)63-715-32-34">+(380)63-715-32-34</a>
      </li>
      <li>Адреса: м. Львів, Верхній Шувар, Сихівський район</li>
  </ul>

  <p class="summary">Дякуємо за вашу довіру та співпрацю!</p>

</div>

{% endblock %}
